.navbar {
  background-color: var(--secondary-backrgound-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; 
  padding: 0 1rem; 
  &.section{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  ul{
    display:flex;
    align-items:center;
    list-style:none;
    padding-left:0;
    li{
      margin-right: 1rem;
      a{
        color: var(--button-text-color); 
      }
      a:hover{
        color: var(--link-hover-color);
      }
    }
  }
}
.mode-toggle {
  background: none;
  border: 1px solid var(--text-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 5px;
  transition: all 0.3s;
}
.mode-toggle:hover {
  background: var(--text-color);
  color: var(--secondary-background-color);
}